In [2]:
import pandas as pd

In [7]:
df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_feb = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201902.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mar = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201903.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_apr = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201904.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_may = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201905.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1091481605.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jun = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201906.csv', sep=';')

In [3]:
df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/1527603430.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jan = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201901.csv', sep=';')

In [22]:
df_jan['sizegroup_gt'].unique()

array([nan, '< 1000 GT', '1000 - 4999 GT', '5000 - 9999 GT',
       '10000 - 24999', '25000 - 49999', '50000 - 99999', '>= 100000'],
      dtype=object)

In [8]:
df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jul = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201907.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:2: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aug = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201908.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sep = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201909.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:4: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_oct = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201910.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:5: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nov = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201911.csv', sep=';')
/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/2925148990.py:6: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dec = pd.read_csv('/Users/willponczak/Desktop/QC2025/data/astd/complete_data/2019/ASTD_area_level3_201912.csv', sep=';')

In [9]:
file_names = [df_jan, df_feb, df_mar, df_apr, df_may, df_jun, 
              df_jul, df_aug, df_sep, df_oct, df_nov, df_dec]

In [6]:
df_mar.shape

(18385487, 26)

In [10]:
# GROUPING EVERY 2 CONSECUTIVE MONTHS TOGETHER

def data_prep(
        df_prev: pd.DataFrame,
        df_next: pd.DataFrame,
        n_days_prev_month: int,
        n_days_next_month: int
):
    # Convert the date_time_utc column from string to datetime object
    df_prev['date_time_utc'] = pd.to_datetime(df_prev['date_time_utc'])
    df_next['date_time_utc'] = pd.to_datetime(df_next['date_time_utc'])

    # Extract day from datetime and get last/first unique days
    last_days = sorted(df_prev['date_time_utc'].dt.date.unique())[-n_days_prev_month:]
    first_days = sorted(df_next['date_time_utc'].dt.date.unique())[:n_days_next_month]

    # Filter rows where date matches the selected days
    df_last_days = df_prev[df_prev['date_time_utc'].dt.date.isin(last_days)]
    df_first_days = df_next[df_next['date_time_utc'].dt.date.isin(first_days)]

    # Combine the rows
    df_output = pd.concat([df_last_days, df_first_days])

    return df_output

In [8]:
# GROUP ALL 2 MONTH BLOCKS TOGETHER

In [11]:
dfs_processed = []

# I think this needs to be fixed to circle back to the first day of Jan
# Right now I believe it starts at the end of Jan and ends at the beginning of dec
# And those 2 never connect in the method.
for i in range(len(file_names) - 1):
    df_prev = file_names[i]
    df_next = file_names[i + 1]

    # You need to decide how many days to take from each month; here as example, use 3 days each
    processed_df = data_prep(df_prev, df_next, n_days_prev_month=1, n_days_next_month=1)
    dfs_processed.append(processed_df)

In [12]:
df_all = pd.concat(dfs_processed, ignore_index=True)

In [20]:
df_all.shape

(15110732, 26)

In [13]:
df_all[(df_all['date_time_utc'] == pd.to_datetime('2019-01-31'))]

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,blackcarbon,organiccarbon,oilbilgewater,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude
134819,485,2019-01-31,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.535610,369,15.072133,68.913230
169605,641,2019-01-31,Norway,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.087459,362,29.090300,70.857620
211080,832,2019-01-31,NaN,NaN,Unknown,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.573281,361,15.682477,69.141160
274785,1642,2019-01-31,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.001876,0.000014,0.005946,...,3.376000e-07,1.140500e-06,4.400000e-09,0.000797,0.002619,0.0,255.019840,246,-24.954306,65.126495
337529,2123,2019-01-31,Norway,NaN,General cargo ships,< 1000 GT,0,0.002042,0.000015,0.006474,...,3.676000e-07,1.241800e-06,6.600000e-09,0.001199,0.003940,0.0,3.345787,370,11.281121,64.858740
430033,7541,2019-01-31,Bahamas,FS Ice Class 1B,Refrigerated cargo ships,1000 - 4999 GT,3,0.040549,0.000300,0.128540,...,7.298800e-06,2.465380e-05,2.660000e-08,0.001149,0.008503,0.0,2255.288300,361,7.432227,63.850224
545886,8353,2019-01-31,Luxembourg,FS Ice Class 1A,General cargo ships,1000 - 4999 GT,1,0.001592,0.000012,0.005045,...,2.865000e-07,9.677000e-07,1.330000e-08,0.000573,0.004240,0.0,1.657768,180,24.519463,65.663055

In [14]:
df_all['date_time_utc'] = pd.to_datetime(df_all['date_time_utc'])

df_all['year'] = df_all['date_time_utc'].dt.year
df_all['month'] = df_all['date_time_utc'].dt.month
df_all['day'] = df_all['date_time_utc'].dt.day

In [15]:
def verify_days(group):
    days = group['day']
    has_first = 1 in days.values
    has_last = days.max() in days.values
    return pd.Series({'has_first': has_first, 'has_last': has_last})


month_check = df_all.groupby(['year', 'month']).apply(verify_days)

/var/folders/9d/bphw52wd7fngbyw4fdd0280h0000gp/T/ipykernel_5872/236622090.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  month_check = df_all.groupby(['year', 'month']).apply(verify_days)

In [16]:
print(month_check)

            has_first  has_last
year month
2019 1          False      True
     2           True      True
     3           True      True
     4           True      True
     5           True      True
     6           True      True
     7           True      True
     8           True      True
     9           True      True
     10          True      True
     11          True      True
     12          True      True

In [17]:
df_all.dropna()

,shipid,date_time_utc,flagname,iceclass,astd_cat,sizegroup_gt,fuelquality,fuelcons,co,co2,...,blackwater,greywater,garbage,dist_nextpoint,sec_nextpoint,longitude,latitude,year,month,day
29369,146,2019-01-31 20:44:10,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.000075,5.533000e-07,0.000237,...,0.000025,0.000188,0.000,0.185819,22,-23.703434,64.895920,2019,1,31
29370,146,2019-01-31 18:10:41,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.001715,1.269340e-05,0.005438,...,0.000175,0.001293,0.000,609.050840,151,-23.737206,64.919040,2019,1,31
29371,146,2019-01-31 18:58:51,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.000238,1.760600e-06,0.000754,...,0.000081,0.000600,0.000,1.126033,70,-23.703379,64.895960,2019,1,31
29372,146,2019-01-31 17:55:12,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.002048,1.515790e-05,0.006493,...,0.000233,0.001722,0.000,768.925600,201,-23.800817,64.936440,2019,1,31
29373,146,2019-01-31 19:20:03,Iceland,FS Ice Class 1C,Fishing vessels,< 1000 GT,0,0.000880,6.514300e-06,0.002791,...,0.000300,0.002218,0.000,0.379927,259,-23.703413,64.895970,2019,1,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13939119,4383,2019-12-01 12:21:30,Russia,FS Ice Class II,General cargo ships,< 1000 GT,0,0.039416,2.916804e-04,0.124950,...,0.026252,0.194267,0.001,3.649348,22682,179.368040,63.064026,2019,12,1
13939120,4383,2019-12-01 18:39:33,Russia,FS Ice Class II,General cargo ships,< 1000 GT,0,0.004379,3.240610e-05,0.013882,...,0.002917,0.021583,0.000,6.886334,2520,179.368060,63.063995,2019,12,1
13939121,4383,2019-12-01 21:54:35,Russia,FS Ice Class II,General cargo ships,< 1000 GT,0,0.105796,7.828897e-04,0.335373,...,0.070463,0.521426,0.004,4.832995,60880,179.368070,63.064020,2019,12,1
13939122,4383,2019-12-01 19:21:32,Russia,FS Ice Class II,General cargo ships,< 1000 GT,0,0.005319,3.936310e-05,0.016862,...,0.003543,0.026217,0.000,15.445659,3061,179.367980,63.063946,2019,12,1
13939123,4383,2019-12-01 20:51:33,Russia,FS Ice Class II,General cargo ships,< 1000 GT,0,0.005943,4.397970e-05,0.018840,...,0.003958,0.029292,0.000,1.976257,3420,179.368090,63.064000,2019,12,1

In [18]:
df_all.to_csv('all_months_1day.csv', index=False)