In [1]:
import pandas as pd

In [5]:
df_archived = pd.read_csv("/Users/willponczak/Desktop/QC2025/data/gfw/ais-apparent-fishing-effort-v1-v2-archived/mmsi-daily-csvs-10-v2-2019/2019-01-01.csv", sep=',')

In [6]:
df_archived.head()

         date  cell_ll_lat  cell_ll_lon       mmsi   hours  fishing_hours
0  2019-01-01          0.0       -105.6  224900000  0.2036            0.0
1  2019-01-01          0.0       -105.3  224900000  0.0205            0.0
2  2019-01-01          0.0       -105.5  224900000  0.9008            0.0
3  2019-01-01          0.0       -105.4  224900000  0.8638            0.0
4  2019-01-01          0.0         -0.3  228071900  0.7969            0.0

In [8]:
df = pd.read_csv("/Users/willponczak/Desktop/QC2025/data/gfw/ais-apparent-fishing-effort/mmsi-daily-csvs-10-v3-2019/mmsi-daily-csvs-10-v3-2019-01-01.csv", sep=',')

In [9]:
df.head()

         date  cell_ll_lat  cell_ll_lon       mmsi   hours  fishing_hours
0  2019-01-01        -74.6       -106.5  440347000  0.8363         0.5983
1  2019-01-01        -74.6       -106.3  440347000  0.2288         0.0000
2  2019-01-01        -74.6       -105.7  440347000  0.2599         0.2599
3  2019-01-01        -74.6       -106.4  440347000  0.3008         0.0000
4  2019-01-01        -74.6       -106.6  440347000  1.8158         1.5694